In [9]:
import pandas as pd
import yaml
import utils
import seaborn as sns
import matplotlib.pyplot as plt

### Load data

In [10]:
# Read IDs to access the correct doc/sheet:
with open("config.yml") as file:
    cfg_data = yaml.safe_load(file)
cfg_data

{'DOCID': '1G0FmJhkOME_sv66hWmhnZS5qR2KMTY7nzkxksv46bfk',
 'GID': {'2022': '203339396', '2023': '453658888', '2024': '491268892'}}

In [11]:
# Load data:
YEARS_TO_LOAD = [2023, 2024]  

df_raw = pd.DataFrame({})

for year in YEARS_TO_LOAD:  
    
    # Load data for given year:
    df_i = utils.load_data(year=year, cfg=cfg_data)
    df_i["year"] = year

    # Store in dataframe:
    df_raw = pd.concat([df_raw, df_i], ignore_index=True)

print(df_raw.shape)
df_raw.head()

(2028, 31)

,Timestamp,What country do you work in?,Where is the closest major city or hub?,Biotech sub industry?,Company or Institution Name,Company Details - public/private/start-up/ subsidiary of,Company Detail - Approximate Company Size,Role / Title of current position,Highest achieved Formal Education,List other relevant and recognized certifications,...,[OPTIONAL] Sign on - Relocation Assistance Total Value,[Optional] Company Review,year,Where are you located?,What degrees do you have?,Compensation - Annual Equity/Stock Option,Compensation - Sign on Stock/Equity Options,Compensation - Retirement Percent Match (free text),"[Optional] Work Life Balance - On average, how many hours do you work per week",Survey Feedback
0,8/6/2023 13:35:24,Canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4/19/2023 19:24:24,Germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,NaN,"Very good place, very fair treatment",2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/22/2023 16:28:50,Slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/14/2023 15:30:45,United Kingdom,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/29/2023 2:06:32,United States,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print(df_raw.columns)

Index(['Timestamp', 'What country do you work in?',
       'Where is the closest major city or hub?', 'Biotech sub industry?',
       'Company or Institution Name',
       'Company Details - public/private/start-up/ subsidiary of ',
       'Company Detail - Approximate Company Size',
       'Role / Title of current position', 'Highest achieved Formal Education',
       'List other relevant and recognized certifications',
       '[Optional] Briefly describe your position', 'Years of Experience',
       'Compensation - Annual Base Salary/Pay', 'Compensation - Overtime Pay',
       'Compensation - Annual Target Bonus ($)',
       'Compensation - Annual Equity', 'Compensation - Sign on Bonus Value',
       'Compensation - Stock Options',
       'Compensation - Retirement Benefits (free text)',
       'Compensation - Healthcare Benefits (free text)',
       'Compensation - Most recent annual yearly raise (%)',
       '[OPTIONAL] Sign on - Relocation Assistance Total Value',
       '[Optional] Company Review', 'year', 'Where are you located?',
       'What degrees do you have? ',
       'Compensation - Annual Equity/Stock Option',
       'Compensation - Sign on Stock/Equity Options',
       'Compensation - Retirement Percent Match (free text)',
       '[Optional] Work Life Balance - On average, how many hours do you work per week',
       'Survey Feedback'],
      dtype='object')

### Data cleanup

In [13]:
df = df_raw.copy()

In [14]:
df.columns

Index(['Timestamp', 'What country do you work in?',
       'Where is the closest major city or hub?', 'Biotech sub industry?',
       'Company or Institution Name',
       'Company Details - public/private/start-up/ subsidiary of ',
       'Company Detail - Approximate Company Size',
       'Role / Title of current position', 'Highest achieved Formal Education',
       'List other relevant and recognized certifications',
       '[Optional] Briefly describe your position', 'Years of Experience',
       'Compensation - Annual Base Salary/Pay', 'Compensation - Overtime Pay',
       'Compensation - Annual Target Bonus ($)',
       'Compensation - Annual Equity', 'Compensation - Sign on Bonus Value',
       'Compensation - Stock Options',
       'Compensation - Retirement Benefits (free text)',
       'Compensation - Healthcare Benefits (free text)',
       'Compensation - Most recent annual yearly raise (%)',
       '[OPTIONAL] Sign on - Relocation Assistance Total Value',
       '[Optional] Company Review', 'year', 'Where are you located?',
       'What degrees do you have? ',
       'Compensation - Annual Equity/Stock Option',
       'Compensation - Sign on Stock/Equity Options',
       'Compensation - Retirement Percent Match (free text)',
       '[Optional] Work Life Balance - On average, how many hours do you work per week',
       'Survey Feedback'],
      dtype='object')

##### Column names

In [15]:
repl_cols = {#'Timestamp',
             'What country do you work in?': "country_1",
             'Where are you located?': "country_2",
             'Where is the closest major city or hub?': "city",
             
             'Biotech sub industry?': "company_field",
             'Company or Institution Name': "company_name",
             'Company Details - public/private/start-up/ subsidiary of ': "company_type",
             'Company Detail - Approximate Company Size': "company_size",
             
             'Role / Title of current position': "role",
             
             'What degrees do you have? ': "degrees_1",
             "Highest achieved Formal Education": "degrees_2",
             
            #'List other relevant and recognized certifications',
            #'[Optional] Briefly describe your position',
            
            'Years of Experience': "experience_yrs",
            'Compensation - Annual Base Salary/Pay': "pay_annual_base",
            'Compensation - Overtime Pay': "pay_overtime",
            'Compensation - Annual Target Bonus ($)': "pay_annual_bonus",
            'Compensation - Annual Equity/Stock Option': "pay_annual_equity",
            'Compensation - Most recent annual yearly raise (%)': "pay_raise",
            
            # 'Compensation - Sign on Bonus Value',
            #'Compensation - Sign on Stock/Equity Options',
            #'Compensation - Retirement Benefits (free text)',
            #'Compensation - Retirement Percent Match (free text)',
            #'Compensation - Healthcare Benefits (free text)',
            #'[OPTIONAL] Sign on - Relocation Assistance Total Value',
            #'[Optional] Company Review',
            #'[Optional] Work Life Balance - On average, how many hours do you work per week',
            #'Survey Feedback'
            }

df.rename(columns=repl_cols, inplace=True)
df.head()

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,[OPTIONAL] Sign on - Relocation Assistance Total Value,[Optional] Company Review,year,country_2,degrees_1,pay_annual_equity,Compensation - Sign on Stock/Equity Options,Compensation - Retirement Percent Match (free text),"[Optional] Work Life Balance - On average, how many hours do you work per week",Survey Feedback
0,8/6/2023 13:35:24,Canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4/19/2023 19:24:24,Germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,NaN,"Very good place, very fair treatment",2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/22/2023 16:28:50,Slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/14/2023 15:30:45,United Kingdom,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/29/2023 2:06:32,United States,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Years of experience

In [16]:
df["experience_yrs"].unique()

array(['5', '4', '0', '2', '7', '1', '13', '3', '20', '6', '9', '12', '8',
       '17', '11', '10', '14', '15', '16', '24', '22', '18', '21', '25',
       '30 or more', '23', '19', 10, 0, 7, 27, 2, 4, 17, 15, 8, 6, 3, 1,
       14, 5, 9, 12, 18, 11, 13, 23, 20, 21, 19, 16, 32, 25, 24, 22, 30],
      dtype=object)

In [17]:
repl_exp = {"30 or more": "30"}

df = utils.value_replacement(df, repl_exp, column="experience_yrs")
df["experience_yrs"].unique()

array(['5', '4', '0', '2', '7', '1', '13', '3', '20', '6', '9', '12', '8',
       '17', '11', '10', '14', '15', '16', '24', '22', '18', '21', '25',
       '30', '23', '19', nan], dtype=object)

In [18]:
# Convert to numerical:
df["experience_yrs"] = df["experience_yrs"].astype(float)

##### Educational background

In [19]:
df["degrees"] = df["degrees_1"].fillna(df["degrees_2"])
df.head()

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,[Optional] Company Review,year,country_2,degrees_1,pay_annual_equity,Compensation - Sign on Stock/Equity Options,Compensation - Retirement Percent Match (free text),"[Optional] Work Life Balance - On average, how many hours do you work per week",Survey Feedback,degrees
0,8/6/2023 13:35:24,Canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelors or Equivalent
1,4/19/2023 19:24:24,Germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,"Very good place, very fair treatment",2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PhD or Equivalent
2,6/22/2023 16:28:50,Slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelors or Equivalent
3,6/14/2023 15:30:45,United Kingdom,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PhD or Equivalent
4,3/29/2023 2:06:32,United States,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masters or Equivalent

In [20]:
# Educational background:
repl_education = {" or Equivalent": "",
                  "Bachelors": "BSc",
                  "Masters": "MSc",
                  "High School": "HS",
                  "Associate’s Degree": "AD"
                  }

df = utils.value_replacement(df, repl_education, column="degrees")
df["degrees"].unique()

array(['BSc', 'PhD', 'MSc', 'AD', 'M.D./PharmD/D.D.S.', 'HS', 'BSc, MSc',
       'HS, BSc, MSc, PhD', 'HS, AD, BSc', 'BSc, PhD', 'BSc, MSc, PhD',
       'HS, BSc, MSc', 'HS, BSc', 'BSc, MSc, MD', 'HS, AD, BSc, MSc',
       'MD', 'HS, BSc, PhD', 'MSc, PhD', 'PharmD', 'HS, BSc, PhD, MD',
       'HS, BSc, PhD, JD', 'HS, PharmD', 'MSc, PharmD', 'JD', 'HS, AD',
       'HS, AD, BSc, PhD', 'AD, BSc', 'PhD, MD', 'HS, AD, BSc, MSc, PhD',
       'BSc, PharmD', 'PhD, PharmD', 'HS, MSc, PhD', 'HS, BSc, PharmD'],
      dtype=object)

In [21]:
# Test one-hot encoding:
df["degrees"].str.get_dummies(sep=", ").add_prefix("edu_")

,edu_AD,edu_BSc,edu_HS,edu_JD,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD
0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
2023,0,0,0,0,0,1,0,0,0
2024,0,1,0,0,0,0,0,0,0
2025,0,0,0,0,0,0,0,1,0
2026,0,1,0,0,0,0,0,0,0
2027,0,0,0,0,0,0,0,1,0

In [22]:
# Replace column with one-hot encodings:
df = pd.concat([df, df["degrees"].str.get_dummies(sep=", ").add_prefix("edu_")], axis = 1).drop("degrees", axis=1)
df.head()

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,Survey Feedback,edu_AD,edu_BSc,edu_HS,edu_JD,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD
0,8/6/2023 13:35:24,Canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,NaN,0,1,0,0,0,0,0,0,0
1,4/19/2023 19:24:24,Germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,NaN,0,0,0,0,0,0,0,1,0
2,6/22/2023 16:28:50,Slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,NaN,0,1,0,0,0,0,0,0,0
3,6/14/2023 15:30:45,United Kingdom,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,NaN,0,0,0,0,0,0,0,1,0
4,3/29/2023 2:06:32,United States,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,NaN,0,0,0,0,0,0,1,0,0

In [23]:
# Assign the highest level of education
# Note: MD/JD/etc are classified as "Others", as they can coexist with other degrees

order_education = ["HS", "BSc", "MSc", "PhD"]   # order matters here!


df["edu_highest"] = "Other"

for deg in order_education:
    df.loc[df[f"edu_{deg}"] == 1, "edu_highest"] = deg
df

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,edu_AD,edu_BSc,edu_HS,edu_JD,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD,edu_highest
0,8/6/2023 13:35:24,Canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,0,1,0,0,0,0,0,0,0,BSc
1,4/19/2023 19:24:24,Germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,0,0,0,0,0,0,0,1,0,PhD
2,6/22/2023 16:28:50,Slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,0,1,0,0,0,0,0,0,0,BSc
3,6/14/2023 15:30:45,United Kingdom,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,0,0,0,0,0,0,0,1,0,PhD
4,3/29/2023 2:06:32,United States,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,0,0,0,0,0,0,1,0,0,MSc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,9/29/2024 21:11:18,NaN,NaN,Big Pharmaceuticals,Prefer not to say,Public,5000+,Asset Exec,NaN,NaN,...,0,0,0,0,0,1,0,0,0,Other
2024,9/29/2024 22:12:46,NaN,NaN,Contraceptives,Mucommune,Start-up,1-50,Scientist,NaN,NaN,...,0,1,0,0,0,0,0,0,0,BSc
2025,9/30/2024 5:33:54,NaN,NaN,Agriculture,Syngenta,Private,5000+,Principal Scientist I,NaN,NaN,...,0,0,0,0,0,0,0,1,0,PhD
2026,9/30/2024 8:01:19,NaN,NaN,Big Pharmaceuticals,Regeneron,Public,5000+,Associate Scientist,NaN,NaN,...,0,1,0,0,0,0,0,0,0,BSc
2027,9/30/2024 10:12:42,NaN,NaN,Academia/Research/Institution,Harvard Medical School,Academia/College/Universities,5000+,Computational Biologist,NaN,NaN,...,0,0,0,0,0,0,0,1,0,PhD

##### Country

In [24]:
# Country:
repl_country = {"united states of america": "us",
                "united stated of americ": "us",             
                "united states": "us",
                "united stated": "us",
                "usa": "us",
                "us - florida": "us",
                "us (remote)": "us",
                "u.s.a.": "us",
                "united kingdom": "uk",
                "england": "uk",
                "netherlands": "benelux",
                
               }

# Clean names:
df["country_1"] = df["country_1"].str.lower().str.rstrip(" ")
print(df["country_1"].unique())

df = utils.value_replacement(df, replacement=repl_country, column="country_1")
print(df["country_1"].unique())

['canada' 'germany' 'slovenia' 'united kingdom' 'united states' 'usa'
 'united states of america' 'austria' 'united stated of americ' 'us'
 'india' 'uk' 'england' 'ireland' 'netherlands' 'united states - florida'
 'america' 'australia' 'portugal' 'sweden' 'china' 'greece' 'hungary'
 'u.s.a.' 'united states (remote)' 'united stated' 'switzerland' nan]
['canada' 'germany' 'slovenia' 'uk' 'us' 'austria' 'india' 'ireland'
 'benelux' 'america' 'australia' 'portugal' 'sweden' 'china' 'greece'
 'hungary' 'switzerland' nan]

In [25]:
repl_country2 = {"west coast (california & pacific northwest)": "us",   
                 "dc metro area (dc, va, md, de)": "us",             
                 "pharma central (ny, nj, pa)": "us",
                 "carolinas & southeast (from nc to ar, south fl and la)": "us",
                 "new england (ma, ct, ri, nh, vt, me)": "us",
                 "midwest (from oh to ks, north to nd)": "us",
                 "south & mountain west (tx to az, north to mt)": "us",
                 "other us location (hi, ak, pr, etc.)": "us",
                 "co": "us",
                 "san diego, ca": "us",
                 "remote - us": "us",
                 "research triangle park, nc": "us",
                 "boston": "us",
                 "tennessee": "us",
                 "nl": "benelux",
                 "belgium": "benelux",
                 "netherlands": "benelux",
                 "united kingdom and ireland": "uk"
                }

# Clean names:
df["country_2"] = df["country_2"].str.lower().str.rstrip(" ")
print(df["country_2"].unique())

df = utils.value_replacement(df, replacement=repl_country2, column="country_2")
print(df["country_2"].unique())

[nan 'canada' 'west coast (california & pacific northwest)' 'france'
 'pharma central (ny, nj, pa)' 'united kingdom and ireland' 'denmark'
 'germany' 'carolinas & southeast (from nc to ar, south fl and la)'
 'new england (ma, ct, ri, nh, vt, me)' 'dc metro area (dc, va, md, de)'
 'spain' 'midwest (from oh to ks, north to nd)' 'belgium' 'eu'
 'south & mountain west (tx to az, north to mt)' 'india'
 'other us location (hi, ak, pr, etc.)' 'co' 'sweden' 'singapore'
 'san diego, ca' 'australia' 'switzerland' 'benelux' 'netherlands'
 'remote - us' 'research triangle park, nc' 'poland' 'argentine' 'austria'
 'boston' 'kenya' 'tennessee' 'nl']
[nan 'canada' 'us' 'france' 'uk' 'denmark' 'germany' 'spain' 'benelux'
 'eu' 'india' 'sweden' 'singapore' 'australia' 'switzerland' 'poland'
 'argentine' 'austria' 'kenya']

In [26]:
# Merge two columns reporting the country:
df["country"] = df["country_1"].fillna(df["country_2"])

# Inspect how many lack this information:
df.loc[df["country"].isna()]

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,edu_BSc,edu_HS,edu_JD,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD,edu_highest,country
974,1/14/2024 6:08:26,NaN,NaN,Food,Prefer not to say,Public,NaN,1,NaN,NaN,...,0,0,0,0,0,0,1,0,PhD,NaN
1401,4/17/2024 4:07:20,NaN,NaN,Contract Research Organization,Prefer not to say,Private,200-1000,Bioinformatics engineer,NaN,NaN,...,0,0,0,0,0,1,0,0,MSc,NaN
1608,5/18/2024 19:11:41,NaN,NaN,Consulting,Prefer not to say,Private,1-50,Principal,NaN,NaN,...,1,0,0,0,0,0,0,0,BSc,NaN

In [27]:
df["country"].unique()

array(['canada', 'germany', 'slovenia', 'uk', 'us', 'austria', 'india',
       'ireland', 'benelux', 'america', 'australia', 'portugal', 'sweden',
       'china', 'greece', 'hungary', 'switzerland', 'france', 'denmark',
       'spain', 'eu', nan, 'singapore', 'poland', 'argentine', 'kenya'],
      dtype=object)

In [28]:
# Label countries in Europe:
non_eu_countries = ["us", "china", "india", "kenya", "australia", "argentine", "singapore", "canada"]

df["region"] = "others"
df.loc[ (~df["country"].isin(non_eu_countries)), "region"] = "europe"
df.loc[ df["country"] == "us", "region"] = "us"
df

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,edu_HS,edu_JD,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD,edu_highest,country,region
0,8/6/2023 13:35:24,canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,0,0,0,0,0,0,0,BSc,canada,others
1,4/19/2023 19:24:24,germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,0,0,0,0,0,1,0,PhD,germany,europe
2,6/22/2023 16:28:50,slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,0,0,0,0,0,0,0,BSc,slovenia,europe
3,6/14/2023 15:30:45,uk,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,0,0,0,0,0,1,0,PhD,uk,europe
4,3/29/2023 2:06:32,us,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,0,0,0,0,1,0,0,MSc,us,us
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,9/29/2024 21:11:18,NaN,NaN,Big Pharmaceuticals,Prefer not to say,Public,5000+,Asset Exec,NaN,NaN,...,0,0,0,1,0,0,0,Other,us,us
2024,9/29/2024 22:12:46,NaN,NaN,Contraceptives,Mucommune,Start-up,1-50,Scientist,NaN,NaN,...,0,0,0,0,0,0,0,BSc,us,us
2025,9/30/2024 5:33:54,NaN,NaN,Agriculture,Syngenta,Private,5000+,Principal Scientist I,NaN,NaN,...,0,0,0,0,0,1,0,PhD,uk,europe
2026,9/30/2024 8:01:19,NaN,NaN,Big Pharmaceuticals,Regeneron,Public,5000+,Associate Scientist,NaN,NaN,...,0,0,0,0,0,0,0,BSc,us,us
2027,9/30/2024 10:12:42,NaN,NaN,Academia/Research/Institution,Harvard Medical School,Academia/College/Universities,5000+,Computational Biologist,NaN,NaN,...,0,0,0,0,0,1,0,PhD,us,us

#### Company type

In [29]:
# Inspect reported industry names
df_type_counts = df.groupby(["company_field"]).count()["Timestamp"]
df_type_counts.sort_values(ascending=False).to_frame().head(30)

                                         Timestamp
company_field
Big Pharmaceuticals                            534
Industrial Biotech                             414
Pharmaceutical (including “big pharma”)        403
Academia/Research/Institution                  114
Contract Research Organization                  86
Contract Manufacturing Organization             70
Medical/Health Devices                          63
Biotech Equipment                               60
Medical Devices                                 31
Agriculture                                     19
Chemical                                        16
Food                                            13
Government                                      13
Devices                                         13
Regulatory Affairs                              12
Agriculture/Food                                10
Animal Health                                    7
Biotech                                          7
CRO                                              6
Diagnostics                                      6
Software                                         4
Therapeutics                                     3
Cell Therapy                                     3
Cosmetics                                        3
Consulting                                       3
Biotech Software                                 2
Energy                                           2
Small Biotech                                    2
Genomics                                         2
Biologics                                        2

In [30]:
# Select uncommon/non-standard industry names:
nonstd_labels = df_type_counts.loc[df_type_counts < 5].index.to_list()
print(nonstd_labels)

['Analytical Equipment', 'Ancillary reagents', 'Bioengineered organs', 'Biologics', 'Biotech ', 'Biotech Software', 'Biotech VC', 'Biotech software', 'Biotech start-up', 'Biotech startup', 'Biotech startup ', 'CDMO', 'CDMO CGMP manufacturing (large molecule)', 'Cdmo', 'Cell & Gene Therapy Materials', 'Cell Therapy', 'Cell and Gene', 'Cell and Gene Therapy', 'Cell culture/separation', 'Cell therapy', 'Climate', 'Clinical Diagnostics', 'Clinical Diagnostics ', 'Conseil', 'Conservation', 'Consulting', 'Consulting ', 'Consumables', 'Contraceptives', 'Contract Testing Organization', 'Contract testing lab', 'Cosmetics', 'Diagnostics ', 'Dna synthesis ', 'Drug Discovery', 'Drug Discovery Startup', 'Dx and Tx', 'Energy', 'Gene Therapy', 'Gene therapy', 'Genetic Testing', 'Genome Editing', 'Genomics', 'Health insurer/HMO', 'Hospital', 'IT', 'Immuno oncology', 'Informatics', 'Instrumentation', 'Lab supply distribution ', 'Life Sciences Software', 'Life Sciences Tools Company', 'Liquid Biopsy', 'Liquid biopsy - clinical development ', 'Mid size biotech ', 'Mid-Sized Biotech', 'Mid-size Pharma', 'Mid-size biotech', 'Mid-sized pharma', 'Midsize pharma', 'Molecular Diagnostics', 'Non-profit', 'Oncology', 'Oncology ', 'Pharma CDMO', 'Pharma and biotech', 'Pharma small industry', 'Pharma start up ', 'Pharmaceutical Start-up', 'Pharmacy ', 'Philanthropy', 'Plant construction', 'Pre-revenue biotech', 'Private Biotech', 'Process Development in Oncology', 'R&D Biotech', 'RUO Assay Product', 'Reagent Ab generation ', 'Sequencing', 'Small Biotech', 'Small Biotech (Gene Therapy)', 'Small Pharma', 'Small Pharmaceuticals', 'Small biopharma?', 'Small biotech', 'Small biotech ', 'Small biotech (therapeutics)', 'Small biotech/biopharma', 'Small oncology focused moving to phase 3 ', 'Small pharma', 'Small pharma ', 'Small sponsor side biotech', 'Software', 'Software + Data ', 'Start up', 'Start up pharma', 'Startup', 'Startup biotech', 'TechBio', 'Therapeutics', 'Therapeutics ', 'Vaccines', 'Venture Capital ', 'Venture investing', 'cell therapy', 'gen therapy', 'pharma startup', 'small pharma']

In [31]:
# Lump all into one category:
df["company_field"] = df["company_field"].replace(nonstd_labels, "Others")
df.head()

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,edu_HS,edu_JD,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD,edu_highest,country,region
0,8/6/2023 13:35:24,canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,Medical Writer,Bachelors or Equivalent,NaN,...,0,0,0,0,0,0,0,BSc,canada,others
1,4/19/2023 19:24:24,germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,Post-doc,PhD or Equivalent,NaN,...,0,0,0,0,0,1,0,PhD,germany,europe
2,6/22/2023 16:28:50,slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,Student assistant researcher,Bachelors or Equivalent,NaN,...,0,0,0,0,0,0,0,BSc,slovenia,europe
3,6/14/2023 15:30:45,uk,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,Postdoc,PhD or Equivalent,NaN,...,0,0,0,0,0,1,0,PhD,uk,europe
4,3/29/2023 2:06:32,us,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,Research Scientist,Masters or Equivalent,NaN,...,0,0,0,0,1,0,0,MSc,us,us

In [32]:
df.groupby("company_field").count()["Timestamp"].sort_values(ascending=False).to_frame()

                                         Timestamp
company_field
Big Pharmaceuticals                            534
Industrial Biotech                             414
Pharmaceutical (including “big pharma”)        403
Others                                         131
Academia/Research/Institution                  114
Contract Research Organization                  86
Contract Manufacturing Organization             70
Medical/Health Devices                          63
Biotech Equipment                               60
Medical Devices                                 31
Agriculture                                     19
Chemical                                        16
Devices                                         13
Food                                            13
Government                                      13
Regulatory Affairs                              12
Agriculture/Food                                10
Biotech                                          7
Animal Health                                    7
CRO                                              6
Diagnostics                                      6

#### Role

In [33]:
df["role"].unique()

array(['Medical Writer', 'Post-doc', 'Student assistant researcher',
       'Postdoc', 'Research Scientist', 'Bioinformatics intern',
       'Technical Application Scientist II',
       'Process development associate II', 'Licensing Agent',
       'Associate Scientist II', 'Research Associate', 'Lab Technician',
       'Associate Scientist ', 'Supervisor', 'Bioinformatics Analyst II',
       'Scientist I', 'Director', 'Research Services Technician',
       'Molecular Biology Research Technician', 'Associate Scientist',
       'Research Associate I', 'Supervisor I',
       'Senior Research Associate ', 'Senior Data Scientist ',
       'Senior Research Technician', 'Quality Assurance Associate II',
       'Institute Associate Scientist II', 'Research Assistant',
       'Res Asst Prof', 'Lab Technician ', 'Scientific research lead',
       'Research Associate II', 'Manager', 'Senior Scientist /Team Lead',
       'Research Associate III', 'Associate scientist ', 'Biologist',
       'Scientist', 'Microbiologist', 'sr scientist',
       'Technical Support Scientist', 'Sr. Technician',
       'Operations Scientist', 'Bioprocessing tech',
       'Sr Field Applications Scientist', 'Product Marketing Manager',
       'VP', 'Senior Associate Scientist', 'Sr. Scientist ',
       'Marketing dpt, lower ranks', 'Lead Manufacturing Associate ',
       'Process Development Associate III', 'Production Technician',
       'Scientist III', 'Global Project Manager II',
       'Regulatory Compliance Analyst', 'Sr.Scientist',
       'Project Manager I', 'Director business development ',
       'Supply Chain Manager', 'associate Scientist ', 'Scientist II',
       'Field application scientist', 'Senior Scientist',
       'Senior Data Scientist', 'Field Application Scientist II',
       'Senior Manager, Program Management', 'Senior Staff Scientist ',
       'Technical Service Engineer ', 'Engineer II',
       'Senior Technical Product Manager ', 'Bioinformatics Engineer',
       'Research Scientist ', 'Sr Associate Scientist', 'QA specialist',
       'Sr. Fas II', 'Bioinfomratics Analyst', 'Research Associate ',
       'Account Manager', 'Production Manager', 'Research manager',
       'Student trainee in R&D', 'Research associate ', 'Scientist 1',
       'Sr. Scientist', 'Director, Medicinal Chemistry',
       'Contract Research Associate',
       'Scientist II Computational Biology', 'Research Associate 2',
       'Quality Manager', 'Scientific Director', 'Principle Scientist ',
       'Senior Scientist I', 'Associate Director', 'Senior researcher ',
       'Bioinformatics Manager', 'Principal Scientist',
       'Advanced Research Associate ', 'Senior Research Associate',
       'Associate marketing manager', 'Field Applications Scientist ',
       'Biologist 1', 'Sr. Research Associate',
       'Process Transfer Chemist', 'Technical Applications Specialist',
       'Sr. RA', 'Director Biology', 'Bioinformatics Scientist',
       'Principal Research Associate', 'Cell Engineer Specialist',
       'Lab tech 1', 'Senior Bioinfornatics Scientist',
       'QC Sample Receipt Analyst', 'Staff Scientist',
       'Director of Product Management ', 'Laboratory Manager',
       'Founding scientist ', 'Associate Scientist 2', 'Product Manager',
       'Manager - Quality', 'Bioinformatics Analyst', 'Project Manager ',
       'Research associate', 'Associate Scientist 1',
       'Staff Data Scientist', 'Computational Biologist II',
       'QC Analyst I', 'Sr. Scientist II', 'Product manager',
       'Associate scientist', 'Associate', 'Bioinformatics manager',
       'Swnior engineer', 'Senior Scientist II',
       'senior research associate',
       'Senior Manager, Strategy and Operations',
       'Biomanufacturing Lab tech', 'QC Specialist III', 'Scientist ',
       'Senior Production chemist',
       'Senior Operational excellence Specialist ', 'Program Manager',
       'Director, Business Development', 'Bioprocessing Coordinator ',
       'Associate Process Scientist ', 'Software engineer',
       'Laboratory technician', 'Medical Education Admin',
       'Director, TPM', 'Technical Support Lead',
       'Director of Regulatory Affairs ',
       'Process Development Engineer II', 'Lab Assistant (Accessioner)',
       'Molecular Technologist III ', 'Research Associate 1',
       'Marketing Manager', 'Clinical Testing Personnel / R&D assistant ',
       'Senior Manager', 'Sr. Director Operations',
       'Field Service Engineer', 'QA', 'Associate Medical Director ',
       'Sr Scientist ', 'Staff Scientist ', 'Development Associate 3',
       'Electrical engineer', 'Bioinformatic Scientist',
       'Senior Research Scientist', 'Sr Scientist',
       'Manufacturing Supervisor', 'Principal Scientist I',
       'Global Study Manager', 'Regulatory Affairs Intern',
       'Statistician', 'Director Bioinformatics', 'Qualifikation manager',
       'Clinical trial Assistant ', 'Sr Associate Scientist ',
       'HPC engineer', 'Sr Associate ', 'Research Scientist II',
       'Senior scientist ', 'HEOR Director ', 'Senior Quality Manager',
       'Principal Scientist ', 'Automation Engineer II',
       'Sr Principal Scientist', 'Sr QA Specialist',
       'Quality Senior Specialist II', 'Manufacturing associate ',
       'Translational Research Solutions Scientist',
       'Manufacturing Associate', 'Senior computational biologist',
       'Senior Process Engineer II', 'Vice President ',
       'Senior Manufacturing Associate', 'Specialist, Engineering',
       'Sr. Associate', 'Sr. Validation Engineer', 'Specialist',
       'Principal scientist ', 'Manufacturing Associate ',
       'Senior Expert I, Data Science', 'Intern', 'Sr. Associate ',
       'Rotational Tech Analyst', 'Senior Director Operations',
       'QC Associate II', 'Assoicate Scientist', 'Analyst II',
       'Staff Program Manager', 'Sr Project Manager',
       'Research Scientist I', 'Manufacturing Associate I',
       'Associate Director, HEOR', 'Senior Counsel',
       'Project engineer II', 'Senior Associate Scientist I',
       'Filtration Sales Specialist', 'Clinical Scientist ',
       'Scientist I ', 'Sr. Process engineer ',
       'Associate Scientist I/Chemist I', 'scientist II',
       'Automation Engineer', 'SVP, clinical operations ',
       'Document Control Specialist', 'Clinical Data Coordinator',
       'Quality Control Associate II', 'Associate Scientific Director',
       'Assoc Medical Director', 'Specialist, Clinical Operations',
       'Process Development Associate I', 'Manufacturing Associate II',
       'Research associate I', 'Senior Manager, Talent Acquisition',
       'Quality Assurance Representative', 'Engineer I', 'Expert II',
       'Data Scientist', 'Senior Trial Manager',
       'Associate Director, Regulatory Affairs',
       'Manager of Data Analytics', 'Sr. Associate Scientist',
       'Scientist Ii',
       'Research Associate, Process Development (Tech Dev Rotational Program)',
       'Senior Regulatory Affairs Consultant', 'Sr Manager QA',
       'Sr Clinical Research Associate', 'Director of Accounting ',
       'Compliance nvestigator', 'Audit Manager',
       'Research and Development Intern', 'Sr Director',
       'Senior Director', 'Associate Director ',
       'Field Reimbursement Manager', 'Sr Quality Systems Specialist',
       'Medical Director, Medical Affairs', 'QC Technician III',
       'Laboratory Operations Manager', 'Senior Engineer',
       'Senior principal scientist', 'Sr Research Associate',
       'Principal Research Associate ', 'Senior scientist',
       'Operations Manager', 'Sr Scientist I', 'Senior Manager ',
       'Senior Scientist ', 'Senior automation engineer ',
       'Sr research associate ', 'Executive Director',
       'Data Scientist II', 'Pm', 'Senior Manufacturing Supervisor',
       'Associate Director, R&D Operational Excellence ',
       'Principal scientist', 'Sr scientist ', 'Sr. QA Manager',
       'Senior Research Associate II', 'Quality Assurance Associate',
       'Process Development Associate', 'Manager Supply Chain',
       'Associate Scientist (R1)', 'Sr. Principal Scientist',
       'Quality Control Associate', 'Associate scientist I',
       'Senior associate scientist ', 'HVAC Technician III ',
       'Regulatory Affairs Manager', 'Associate research fellow ',
       'VP Regulatory', 'Senior Associate Scientist ',
       'Research Associate Scientist ', 'Protocol Specialist',
       'Sr. Engineer III ', 'Director regulatory ',
       'Senior associate scientist',
       'Validation and Compliance Associate ', 'Assoc. Dir, FP&A',
       'Senior Principal Scienist', 'EHS Specialist',
       'Clinical Research Manager',
       'Sr. Scientist II - Computational Biology and Machine Learning ',
       'Manager, Program Management', 'SRA', 'ORDP',
       'Sr Principal Scientist ', 'Associate Director of Manufacturing',
       'Director ', 'Principal Scientist III', 'Post-doctoral Scientist',
       'Manager, R&D Operations', 'Quality Engineer III', 'Scientist, PD',
       'Sr Computational Biologist', 'Senior Associate', 'M1',
       'Scientific Project Manager', 'Manufacturing Tech II',
       'Sr Scientist 2 (AD equivalent)', 'research associate I',
       'Associate Director, Supply Chain', 'Associate Scientist I',
       'Manager, Analytical Development and QC ', 'ASSOCIATE 2',
       'Associate Director - Marketing', 'Lead Scientist',
       'Clinical Specialist', 'Pharmacovigilance Operations Manager ',
       'QC Analyst ', 'Computational Biology Intern', 'CQV Consultant',
       'Senior Compliance Specialist', 'Sr. Clinical Trial Associate',
       'Microbiology Analyst', 'Senior Engineer I',
       'Sr. Research Associate ', 'Senior Clinical Project Manager',
       'Sr Packaging Engineer', 'Senior Manager of Engineering', 'RA 1',
       'CQV Project Manager', 'Assoc Dir, Supply',
       'Associate Director, Project and Portfolio Management',
       'Commerical Operations Manager ', 'Associate Principal Scientist ',
       'Scientist (R3)', 'Associate Director, Computational Biology',
       'Engineering manager', 'Senior Data Analyst', 'Sr QA Associate',
       'Sr. Biologist', 'Sr manager', 'Consulting Engineer',
       'Clinical Scientist', 'Manager, Medical Affairs',
       'Technical Operations Engineer', 'Associate Principal Engineer',
       'Senior Material Buyer ', 'Senior medical writer ',
       'Head of program management, executive director ',
       'Senior research associate ', 'Bench Scientist ',
       'Senior Project Manager', 'Director of Alliance Management ',
       'Senior Program Manager', 'Business Development Director ',
       'QC Technician', 'Associate Director Regulatory Affairs ',
       'Senior manager ', 'Senior scientist I ',
       'Chief Business Officer ', 'Sr Manager QA commercial operations ',
       'Associate director ', 'Engineering Manager',
       'Sr associate scientist', 'Clinical Trial Assistant',
       'Senior Fermentation Scientist',
       'Associate Director, Operational Excellence',
       'Process Development Engineer 1', 'Operations Manager ',
       'Medical Director, Clinical Development', 'Project manager ',
       'Sr Scientist 1',
       'Process Development and Manufacturing Scientist II',
       'lab operations senior manager', 'Sr. Clinical Trials Associate ',
       'Senior group lead', 'Associate Director, AI Product',
       'Advisor - Quantitative Scientist ',
       'Senior bioinformatics data engineer',
       'Cell Therapy QC Investigations Scientist',
       'Validation Scientist II', 'Assistant Director',
       'Sr. Data Scientist', 'Senior Development Associate', 'Sales Rep',
       'Scientist / PI', 'Sr process engineer ii', 'CQV Engineer I',
       'Study Start up', 'Associate ', 'Research project manager ',
       'Jr Test Engineer ', 'QC Supervisor ',
       'Sr. Scientist Computational Biology', 'Program Associate',
       'Associate Director, Legal', 'Project Leader',
       'Principal Scientist II', 'research scientist', 'Global Director',
       'Head of Compliance, Regional', 'Lead', 'Medical Writing Manager',
       'R&D director', 'Director CMC', 'Director, Medical Affairs',
       'Senior Director Clinical Operations ', 'Engineer/Scientist 1',
       'Associate Director Project Team Leader', 'R&D Lead',
       'Executive Director, Medical Affairs',
       'Project Manager (study director)', 'Sr Research Engineer',
       'Senior Bioinformatics Scientist', 'Director, Finance',
       'Principal Associate Scientist',
       ' Validation Engineering Consultant', 'SRA2',
       'Associate Director, Analytical Development', 'Medical Writer I',
       'SRA ', 'Senior clinical supply chain manager', 'Engineer III',
       'Specialist - Engineering ', 'Team Lead', 'Manager ',
       'Sr. Product Manager', 'Sr Automation Engineer ',
       'Medical Science Liaison', 'Sr. Site Manager ', 'Accountant',
       'Research Software Engineer', 'Sr Manager',
       'Research Scientist 2 ', 'Client Success Manager',
       'Senior Scientist (Sci 1)', 'QA Senior Specialist',
       'Associate scientist II', 'Research assistant',
       'Senior scientist ii', 'PhD candidate', 'Scientist ll',
       'Executive director ', 'Manufacturing Specialist II',
       'Associate Director Marketing', 'Systems Test Engineer I',
       'Research scientist II', 'Legal Operations', 'Sr QA specialist',
       'CMC Lead', 'Sr. Director', 'Business Development',
       'Senior Lead Data Analyst', 'Principal scientist I',
       'Associate Engineer', 'Senior Director ', 'Trial manager',
       'Project Manager - Engineering', 'production ', 'Sr. Engineer',
       'Sr Research Associate ', 'VP of Digital', 'PM',
       'Senior Manufacturing Associate II', 'Research Specialist',
       'QC Analyst II', 'Process Sciences Associate',
       'Senior Scientist/Reviewer', 'Clinical Development Director',
       'Process Engineer', 'Specialist II', 'Director, Strategy',
       'Manager, Engineering', 'Senior Scientist (G8)',
       'Field Service Engineer I', 'Manager/Sales',
       'Manager R&D Operations', 'Director of Engineering',
       'Process Engineer II', '1', 'Director of Corporate Development',
       'QA Specialist I', 'Senior Research Investigatior',
       'Regional Director, Market Access (US Commercial)',
       'Associate Manager - Quality Control', 'Sr. Inside Sales Rep ',
       'Senior research associate I', 'Technical Assistant',
       'Associate Principal Scientist', 'QC Specialist',
       'Bioprocess Engineer I', 'QC Analyst', 'Biologist I',
       'Postdoctoral Scientist', 'Biomedical Scientist',
       'Supplier Quality Engineer', 'Associate Group Leader',
       'Lab Manager', 'Scientist III ', 'Buyer',
       'Quality Compliance Manager', 'Sr. Project Manager',
       'Sr Staff Engineer', 'Sr. Supervisor', 'Postdoctoral Fellow',
       'Proposal writer', 'Biosciences Account Manager',
       'Biotech Production Specialist', 'MES Engineer',
       'Staff Scientist I', 'Analyst ', 'Lab Tech', 'RA', 'Sr. Manager',
       'QA Manager', 'Senior Scientist (R3)', 'Research Technician ',
       'Clinical Scientist II',
       'Operational Quality Systems Specialist I',
       'Senior Director, Strategy and Operations',
       'Senior Quality Specialist', 'Senior Research Engineer',
       'Biochemist II', 'Manufacturing Associate III',
       'Senior computational scientist', 'Senior Product Manager',
       'Quality Associate', 'Senior Manager Quality Systems',
       'Application Development Scientist', 'Lead QA Technician',
       'Regulatory strategy post-doc',
       'Associate Director Medical Communications',
       'Associate engineer ll', 'Researcher',
       'Government Affairs Manager', 'Expert Scientist', 'Group Leader',
       'Director of insight ms and analytics', 'Sr. Principal Associate',
       'Marketing', 'Research Associate II, Contract', 'QA Specialist II',
       'Senior Regulatory Manager', 'QC Associate\xa01 Microbio',
       'Assistant Scientist', 'Global Executive Director',
       'Life Science Estimating Manager', 'Sr Systems Engineer',
       'Chemist III', 'Investigator', 'Senior Manager Medical Writing',
       'Senior Research Associate, Strain Engineering',
       'Medical science liaison ',
       'Associate Director, Clinical Pharmacology ', 'lead',
       'Bioinformatician', 'Quality Control Analyst',
       'Toxicology Study Manager', 'Clinical Research Associate ',
       'application scientist', 'Sr Data Scientist', 'PV Manager',
       'Engineer 3', 'Medical writer ', 'Computational Biologist',
       'Sr. Machine learning scientist', 'Advisor (Scientist 1)',
       'Product Sales Specialist', 'Regional Sales Director',
       'Bioinformatics scientist', 'Quality Engineet II',
       'Sr Director clinical operations ',
       'Senior Clinical System Manager', 'CMO', 'SVP',
       'Primary Production Technician', 'Director, Legal',
       'Senior principle scientist ',
       'Senior Director, Clinical Development ', 'Associate director',
       'Senior Finance Director', 'Sr. Clinical Data Analyst',
       'Reliability Manager ', 'Associate Director, Medical Publications',
       'R&D Project Manager', 'Associate Director Finance', 'Sr. Sci I',
       ' VP clin ops', 'Project Manager', 'Senior Scientist MSAT',
       'Process Technician',
       'Specialist, Team lead, CAR-T manufacturing ',
       'Quality Assurance Specialist', 'CQV Engineer ', 'Chemist',
       'Researcher ', 'QC Associate III', 'Associate Director GMP QA',
       'Senior Global Trial Manager ', 'Human Resource Manager',
       'Associate Director of Operations', 'Quality specialist',
       'QC Associate Scientist', 'Human Factors Engineer',
       'Process Development Scientist 1', 'Senior Production Chemist',
       'Regulatory Analyst', 'Associate Director, Regulatory Strategy',
       'Senior Manager, Data Analytics', 'Process R&D Scientist',
       'Medical Science Liason  ', 'Manufacturing individual contributor',
       'Process Engineer III', 'Senior Production Supervisor',
       'Dir, CLinical Programming', 'Ass. Scientist', 'QC, Scientist',
       'Sr. Manufacturing Associate', 'Principal Investigator ',
       'Production Specialist ', 'Territory Manager',
       'Manager Operations and Engineering ', 'Manufacturing associate',
       'Bioinformatics Scientist II', 'Sr. Computational Biologist',
       'Purchasing Associate 2', 'Director of BD',
       'Senior Principal Scientist', 'Sr scientist',
       'Director, Business Development ', 'Sr. R&D Systems Engineer',
       'Data Scientist ', 'Senior Quality Engineer',
       'Advisor (Engineering R5)', 'Process development associate ',
       'Subject Matter Expert', 'GSR', 'Sr. Scientist 1',
       'Operational Planning Lead', 'Senior field applications scientist',
       'senior associate director, clinical development',
       ' Manager, Regulatory Operations', 'Marketing Product Manager',
       'AD Associate II ', 'Sr. Scientist I', 'AD ', 'Research Asspcoate',
       'Senior CRA', 'RA II', 'Medical Technologist', 'AS2',
       'Mechanical Engineer', 'Sr. Specialist, Engineering',
       'cGMP Associate Production Scientist', 'IT Manager',
       'Head of Immunology Research', 'Scientist (Contractor)',
       'Scientist 2', 'Research Analyst',
       'Process development scientist ', 'QC Analyst IV',
       'Sr Manager (Sr Scientist 1)', 'Biostatistician',
       'Bioinformatics engineer',
       'Senior Research & Development Scientist',
       'Senior Advisor (Associate Director level)',
       'Solution Prep Associate II', 'sr. operator', 'Scientist 3',
       'Senior Machine Learning Engineer',
       'Associate Director, US Commercial Strategy & Operations',
       'technician', 'Specialist, Manufacturing',
       'Senior Research Chemist', 'Systems Engineer 2', 'VP Finance',
       'Staff Engineer', 'Manager Computational Biology',

In [34]:
repl_role = {".": "",
             "post doc": "postdoc",
             "post-doc": "postdoc",
             "postdoctoral scientist": "postdoc",
             "postdoctoral fellow": "postdoc",
             "postdoctoral researcher": "postdoc",
             "phd student": "phd",
             "phd candidate": "phd",
             "senior": "sr",
             "quality control": "qc",
             "3": "iii",              
             "2": "ii",
             "ll": "ii",
             "1": "i",
             }

df["role"] = df["role"].str.lower()
df["role"] = df["role"].str.rstrip(" ").str.strip(" ")
print(df["role"] .unique())

df = utils.value_replacement(df, replacement=repl_role, column="role")
print(df["role"] .unique())

['medical writer' 'post-doc' 'student assistant researcher' 'postdoc'
 'research scientist' 'bioinformatics intern'
 'technical application scientist ii' 'process development associate ii'
 'licensing agent' 'associate scientist ii' 'research associate'
 'lab technician' 'associate scientist' 'supervisor'
 'bioinformatics analyst ii' 'scientist i' 'director'
 'research services technician' 'molecular biology research technician'
 'research associate i' 'supervisor i' 'senior research associate'
 'senior data scientist' 'senior research technician'
 'quality assurance associate ii' 'institute associate scientist ii'
 'research assistant' 'res asst prof' 'scientific research lead'
 'research associate ii' 'manager' 'senior scientist /team lead'
 'research associate iii' 'biologist' 'scientist' 'microbiologist'
 'sr scientist' 'technical support scientist' 'sr. technician'
 'operations scientist' 'bioprocessing tech'
 'sr field applications scientist' 'product marketing manager' 'vp'
 'senior associate scientist' 'sr. scientist' 'marketing dpt, lower ranks'
 'lead manufacturing associate' 'process development associate iii'
 'production technician' 'scientist iii' 'global project manager ii'
 'regulatory compliance analyst' 'sr.scientist' 'project manager i'
 'director business development' 'supply chain manager' 'scientist ii'
 'field application scientist' 'senior scientist'
 'field application scientist ii' 'senior manager, program management'
 'senior staff scientist' 'technical service engineer' 'engineer ii'
 'senior technical product manager' 'bioinformatics engineer'
 'sr associate scientist' 'qa specialist' 'sr. fas ii'
 'bioinfomratics analyst' 'account manager' 'production manager'
 'research manager' 'student trainee in r&d' 'scientist 1'
 'director, medicinal chemistry' 'contract research associate'
 'scientist ii computational biology' 'research associate 2'
 'quality manager' 'scientific director' 'principle scientist'
 'senior scientist i' 'associate director' 'senior researcher'
 'bioinformatics manager' 'principal scientist'
 'advanced research associate' 'associate marketing manager'
 'field applications scientist' 'biologist 1' 'sr. research associate'
 'process transfer chemist' 'technical applications specialist' 'sr. ra'
 'director biology' 'bioinformatics scientist'
 'principal research associate' 'cell engineer specialist' 'lab tech 1'
 'senior bioinfornatics scientist' 'qc sample receipt analyst'
 'staff scientist' 'director of product management' 'laboratory manager'
 'founding scientist' 'associate scientist 2' 'product manager'
 'manager - quality' 'bioinformatics analyst' 'project manager'
 'associate scientist 1' 'staff data scientist'
 'computational biologist ii' 'qc analyst i' 'sr. scientist ii'
 'associate' 'swnior engineer' 'senior scientist ii'
 'senior manager, strategy and operations' 'biomanufacturing lab tech'
 'qc specialist iii' 'senior production chemist'
 'senior operational excellence specialist' 'program manager'
 'director, business development' 'bioprocessing coordinator'
 'associate process scientist' 'software engineer' 'laboratory technician'
 'medical education admin' 'director, tpm' 'technical support lead'
 'director of regulatory affairs' 'process development engineer ii'
 'lab assistant (accessioner)' 'molecular technologist iii'
 'research associate 1' 'marketing manager'
 'clinical testing personnel / r&d assistant' 'senior manager'
 'sr. director operations' 'field service engineer' 'qa'
 'associate medical director' 'development associate 3'
 'electrical engineer' 'bioinformatic scientist'
 'senior research scientist' 'manufacturing supervisor'
 'principal scientist i' 'global study manager'
 'regulatory affairs intern' 'statistician' 'director bioinformatics'
 'qualifikation manager' 'clinical trial assistant' 'hpc engineer'
 'sr associate' 'research scientist ii' 'heor director'
 'senior quality manager' 'automation engineer ii'
 'sr principal scientist' 'sr qa specialist'
 'quality senior specialist ii' 'manufacturing associate'
 'translational research solutions scientist'
 'senior computational biologist' 'senior process engineer ii'
 'vice president' 'senior manufacturing associate'
 'specialist, engineering' 'sr. associate' 'sr. validation engineer'
 'specialist' 'senior expert i, data science' 'intern'
 'rotational tech analyst' 'senior director operations' 'qc associate ii'
 'assoicate scientist' 'analyst ii' 'staff program manager'
 'sr project manager' 'research scientist i' 'manufacturing associate i'
 'associate director, heor' 'senior counsel' 'project engineer ii'
 'senior associate scientist i' 'filtration sales specialist'
 'clinical scientist' 'sr. process engineer'
 'associate scientist i/chemist i' 'automation engineer'
 'svp, clinical operations' 'document control specialist'
 'clinical data coordinator' 'quality control associate ii'
 'associate scientific director' 'assoc medical director'
 'specialist, clinical operations' 'process development associate i'
 'manufacturing associate ii' 'senior manager, talent acquisition'
 'quality assurance representative' 'engineer i' 'expert ii'
 'data scientist' 'senior trial manager'
 'associate director, regulatory affairs' 'manager of data analytics'
 'sr. associate scientist'
 'research associate, process development (tech dev rotational program)'
 'senior regulatory affairs consultant' 'sr manager qa'
 'sr clinical research associate' 'director of accounting'
 'compliance nvestigator' 'audit manager'
 'research and development intern' 'sr director' 'senior director'
 'field reimbursement manager' 'sr quality systems specialist'
 'medical director, medical affairs' 'qc technician iii'
 'laboratory operations manager' 'senior engineer'
 'senior principal scientist' 'sr research associate' 'operations manager'
 'sr scientist i' 'senior automation engineer' 'executive director'
 'data scientist ii' 'pm' 'senior manufacturing supervisor'
 'associate director, r&d operational excellence' 'sr. qa manager'
 'senior research associate ii' 'quality assurance associate'
 'process development associate' 'manager supply chain'
 'associate scientist (r1)' 'sr. principal scientist'
 'quality control associate' 'associate scientist i' 'hvac technician iii'
 'regulatory affairs manager' 'associate research fellow' 'vp regulatory'
 'research associate scientist' 'protocol specialist' 'sr. engineer iii'
 'director regulatory' 'validation and compliance associate'
 'assoc. dir, fp&a' 'senior principal scienist' 'ehs specialist'
 'clinical research manager'
 'sr. scientist ii - computational biology and machine learning'
 'manager, program management' 'sra' 'ordp'
 'associate director of manufacturing' 'principal scientist iii'
 'post-doctoral scientist' 'manager, r&d operations'
 'quality engineer iii' 'scientist, pd' 'sr computational biologist'
 'senior associate' 'm1' 'scientific project manager'
 'manufacturing tech ii' 'sr scientist 2 (ad equivalent)'
 'associate director, supply chain'
 'manager, analytical development and qc' 'associate 2'
 'associate director - marketing' 'lead scientist' 'clinical specialist'
 'pharmacovigilance operations manager' 'qc analyst'
 'computational biology intern' 'cqv consultant'
 'senior compliance specialist' 'sr. clinical trial associate'
 'microbiology analyst' 'senior engineer i'
 'senior clinical project manager' 'sr packaging engineer'
 'senior manager of engineering' 'ra 1' 'cqv project manager'
 'assoc dir, supply'
 'associate director, project and portfolio management'
 'commerical operations manager' 'associate principal scientist'
 'scientist (r3)' 'associate director, computational biology'
 'engineering manager' 'senior data analyst' 'sr qa associate'
 'sr. biologist' 'sr manager' 'consulting engineer'
 'manager, medical affairs' 'technical operations engineer'
 'associate principal engineer' 'senior material buyer'
 'senior medical writer' 'head of program management, executive director'
 'bench scientist' 'senior project manager'
 'director of alliance management' 'senior program manager'
 'business development director' 'qc technician'
 'associate director regulatory affairs' 'chief business officer'
 'sr manager qa commercial operations' 'senior fermentation scientist'
 'associate director, operational excellence'
 'process development engineer 1' 'medical director, clinical development'
 'sr scientist 1' 'process development and manufacturing scientist ii'
 'lab operations senior manager' 'sr. clinical trials associate'
 'senior group lead' 'associate director, ai product'
 'advisor - quantitative scientist' 'senior bioinformatics data engineer'
 'cell therapy qc investigations scientist' 'validation scientist ii'
 'assistant director' 'sr. data scientist' 'senior development associate'
 'sales rep' 'scientist / pi' 'sr process engineer ii' 'cqv engineer i'
 'study start up' 'research project manager' 'jr test engineer'
 'qc supervisor' 'sr. scientist computational biology' 'program associate'
 'associate director, legal' 'project leader' 'principal scientist ii'
 'global director' 'head of compliance, regional' 'lead'
 'medical writing manager' 'r&d director' 'director cmc'
 'director, medical affairs' 'senior director clinical operations'
 'engineer/scientist 1' 'associate director project team leader'
 'r&d lead' 'executive director, medical affairs'
 'project manager (study director)' 'sr research engineer'
 'senior bioinformatics scientist' 'director, finance'
 'principal associate scientist' 'validation engineering consultant'
 'sra2' 'associate director, analytical development' 'medical writer i'
 'senior clinical supply chain manager' 'engineer iii'
 'specialist - engineering' 'team lead' 'sr. product manager'
 'sr automation engineer' 'medical science liaison' 'sr. site manager'
 'accountant' 'research software engineer' 'research scientist 2'
 'client success manager' 'senior scientist (sci 1)'
 'qa senior specialist' 'phd candidate' 'scientist ll'
 'manufacturing specialist ii' 'associate director marketing'
 'systems test engineer i' 'legal operations' 'cmc lead' 'sr. director'
 'business development' 'senior lead data analyst' 'associate engineer'
 'trial manager' 'project manager - engineering' 'production'
 'sr. engineer' 'vp of digital' 'senior manufacturing associate ii'
 'research specialist' 'qc analyst ii' 'process sciences associate'
 'senior scientist/reviewer' 'clinical development director'
 'process engineer' 'specialist ii' 'director, strategy'
 'manager, engineering' 'senior scientist (g8)' 'field service engineer i'
 'manager/sales' 'manager r&d operations' 'director of engineering'
 'process engineer ii' '1' 'director of corporate development'
 'qa specialist i' 'senior research investigatior'
 'regional director, market access (us commercial)'
 'associate manager - quality control' 'sr. inside sales rep'
 'senior research associate i' 'technical assistant' 'qc specialist'
 'bioprocess engineer i' 'biologist i' 'postdoctoral scientist'
 'biomedical scientist' 'supplier quality engineer'
 'associate group leader' 'lab manager' 'buyer'
 'quality compliance manager' 'sr. project manager' 'sr staff engineer'
 'sr. supervisor' 'postdoctoral fellow' 'proposal writer'
 'biosciences account manager' 'biotech production specialist'
 'mes engineer' 'staff scientist i' 'analyst' 'lab tech' 'ra'
 'sr. manager' 'qa manager' 'senior scientist (r3)' 'research technician'
 'clinical scientist ii' 'operational quality systems specialist i'
 'senior director, strategy and operations' 'senior quality specialist'
 'senior research engineer' 'biochemist ii' 'manufacturing associate iii'
 'senior computational scientist' 'senior product manager'
 'quality associate' 'senior manager quality systems'
 'application development scientist' 'lead qa technician'
 'regulatory strategy post-doc'
 'associate director medical communications' 'associate engineer ll'
 'researcher' 'government affairs manager' 'expert scientist'
 'group leader' 'director of insight ms and analytics'
 'sr. principal associate' 'marketing' 'research associate ii, contract'
 'qa specialist ii' 'senior regulatory manager'
 'qc associate\xa01 microbio' 'assistant scientist'
 'global executive director' 'life science estimating manager'
 'sr systems engineer' 'chemist iii' 'investigator'
 'senior manager medical writing'
 'senior research associate, strain engineering'
 'associate director, clinical pharmacology' 'bioinformatician'
 'quality control analyst' 'toxicology study manager'
 'clinical research associate' 'application scientist' 'sr data scientist'
 'pv manager' 'engineer 3' 'computational biologist'
 'sr. machine learning scientist' 'advisor (scientist 1)'
 'product sales specialist' 'regional sales director'
 'quality engineet ii' 'sr director clinical operations'
 'senior clinical system manager' 'cmo' 'svp'
 'primary production technician' 'director, legal'
 'senior principle scientist' 'senior director, clinical development'
 'senior finance director' 'sr. clinical data analyst'
 'reliability manager' 'associate director, medical publications'
 'r&d project manager' 'associate director finance' 'sr. sci i'
 'vp clin ops' 'senior scientist msat' 'process technician'
 'specialist, team lead, car-t manufacturing'
 'quality assurance specialist' 'cqv engineer' 'chemist'
 'qc associate iii' 'associate director gmp qa'
 'senior global trial manager' 'human resource manager'
 'associate director of operations' 'quality specialist'
 'qc associate scientist' 'human factors engineer'
 'process development scientist 1' 'regulatory analyst'
 'associate director, regulatory strategy'
 'senior manager, data analytics' 'process r&d scientist'
 'medical science liason' 'manufacturing individual contributor'
 'process engineer iii' 'senior production supervisor'
 'dir, clinical programming' 'ass. scientist' 'qc, scientist'
 'sr. manufacturing associate' 'principal investigator'
 'production specialist' 'territory manager'
 'manager operations and engineering' 'bioinformatics scientist ii'
 'sr. computational biologist' 'purchasing associate 2' 'director of bd'
 'sr. r&d systems engineer' 'senior quality engineer'
 'advisor (engineering r5)' 'subject matter expert' 'gsr'
 'sr. scientist 1' 'operational planning lead'
 'senior field applications scientist'
 'senior associate director, clinical development'
 'manager, regulatory operations' 'marketing product manager'
 'ad associate ii' 'sr. scientist i' 'ad' 'research asspcoate'
 'senior cra' 'ra ii' 'medical technologist' 'as2' 'mechanical engineer'
 'sr. specialist, engineering' 'cgmp associate production scientist'
 'it manager' 'head of immunology research' 'scientist (contractor)'
 'scientist 2' 'research analyst' 'process development scientist'
 'qc analyst iv' 'sr manager (sr scientist 1)' 'biostatistician'
 'senior research & development scientist'
 'senior advisor (associate director level)' 'solution prep associate ii'
 'sr. operator' 'scientist 3' 'senior machine learning engineer'
 'associate director, us commercial strategy & operations' 'technician'
 'specialist, manufacturing' 'senior research chemist'
 'systems engineer 2' 'vp finance' 'staff engineer'
 'manager computational biology' 'sr. associate development engineer'
 'fellow' 'head of clinical develompment' 'head'
 'associate scientist doctoral student' 'graduate research assistant'
 'director, computational biology' 'consultant' 'sr. software engineer'
 'quality assurance scientist' 'svp marketing and bd'
 'sr. research associate ii' 'principal scientis'
 'patient centered outcomes research scientist'
 'computational associate ii' 'scientist/engineer'
 'senior process engineer' 'territory sales manager' 'manager, qa'
 'field applications specialist' 'associate scientist iii'
 'research operations specialist' 'fas' 'director of architecture'
 'upstream process engineer' 'qc analyst iii' 'systems engineer'
 'phd student' 'executive assistant' 'senior director bioanalysis'
 'sr. specialist (p/r3)' 'validation manager'
 'system administrator ii, eam' 'production technician iii'
 'associate director, medical information' 'operations associate'
 'head project management' 'associate medical director, medical affairs'
 'sr. process chemist' 'principal research scientist' 'principal'
 'senior engineer 1' 'associate director, clinical operations'
 'senior scientist 1' 'technical research / designer'
 'expert, science & technology' 'market development manager'
 'data analyst 2' 'associate director of alliance management'
 'staff applications scientist'
 'senior vice president of clinical development'
 'assoc director publications' 'lab technician i'
 'manufacturing specialist' 'strain engineer' 'analytical chemist'
 'r&d scientist' 'sr. group leader' 'study director'
 'senior quality control analyst' 'biochemist' 'msat'
 'director of engineering (automation)' 'regulatory affairs specialist'
 'director clinical science' 'graduate intern' 'sr engineer'
 'ehs specialists ii' 'associate director lab operations'
 'msat process expert' 'principal biostatistician'
 'process development engineer' 'project engineer' 'marketing specialist'
 'cra' 'laboratory expert' 'reseach associate' 'global product manager'
 'engineering specialist' 'senior statistical programmer'
 'research analyst 1' 'senior clinical research associate i' 'post doc'
 'strategy lead' 'sr. investigator' 'senior cell culture technician'
 'field scientist' 'training specialist 1' 'postgraduate associate'
 'laboratory technician ii' 'postdoctoral researcher'
 'bioprocess engineer' 'flow cytometry specialist'
 'quality specialist environmental monitoring' 'qc'
 'biostatistician ic (2 yoe post-phd)' 'pra'
 'senior associate scientist ii (sr sci ii)' 'specialist engineering'
 'junior specialist' 'program manager - project management'
 'assc dir of ai' 'qc 2' 'clinical pharmacologist reviewer'
 'associate research fellow (r7) aka lab head' 'sr. qc associate'
 'engineer' 'vp, translational genetics' 'senior project engineer'
 'group leader, principal scientist' 'sr director biometrics' 'vp / cio'
 'co-op drug development' 'computational chemistry scientist'
 'proposals supervisor' 'associate research scientist' 'sr. analyst'
 'scientific proposal analyst' 'associate director clinical opey'
 'principal statistician' 'technical service manager' 'quality engineer'
 'quality control supervisor' 'market research project coordinator'
 'manufacturing lab technician' 'research technician ii' 'sr. specialist'
 'medical director' 'maintenance engineer/metrology'
 'associate director statistics' 'director r&d quality'
 'computational scientist' 'quality control chemist' 'assoc. director'
 'clinical supply manager' 'sr. specialist (p3)'
 'lab manager/cultivation supervisor' 'qc analyst 1'
 'sr clinical scientist' 'chemist i' 'qc manager' 'qc lab tech'
 'cw- scientist senior associate (ra2)' 'maintenance manager, facilities'
 'field applications scientist iii' 'research assistant 2'
 'clinical research scientist' 'senior qc scientist' 'research tech ii'
 'trading operations' 'bioassay analyst'
 'imaging and microscopy specialist' 'research associate i, in vivo' 'ceo'
 'facility manager' 'director, heor' 'senior engineer ii' 'cso'
 'budget analyst' 'senior manager, commercial' 'senior lab manager'
 'qa validation manager' 'sci 1' 'senior manager external quality'
 'pilot plant specialist' 'associate manager, msat'
 'quality management lead' 'staff bioinformatics scientist'
 'specialist p2 qc/dm' 'global product marketing manager' 'biochemist i'
 'lab tech 3' 'associate specialist, engineering' 'sales specialist'
 'partnership lead' 'senior staff bioinformatician'
 'business development manager' 'assoc dir'
 'junior fermentation scientist' 'vice president, head of cmc'
 'bioinformatics software engineer' 'sr technical program manager'
 'associate decision scientist' 'bioinformatics associate ii'

In [35]:
df.groupby("role").count()["Timestamp"].sort_values().to_frame().tail(60)

                                 Timestamp
role
qc specialist                            3
research scientist i                     3
software engineer                        3
qc analyst ii                            3
specialist, clinical operations          3
sr automation engineer                   3
process development associate            3
sr computational biologist               3
operations manager                       3
sr project manager                       4
laboratory manager                       4
lab technician                           4
sr process engineer                      4
phd                                      4
medical science liaison                  4
qc analyst                               4
executive director                       4
principal research associate             4
engineer iii                             4
associate                                5
data scientist                           5
research associate iii                   5
field application scientist              5
staff scientist                          5
product manager                          5
principal scientist i                    5
sr product manager                       6
associate scientist i                    6
specialist                               6
vp                                       7
research scientist ii                    7
research assistant                       7
sr engineer                              7
sr data scientist                        8
sr associate                             8
project manager                          9
manufacturing associate                  9
sr principal scientist                   9
sr scientist ii                         10
scientist iii                           11
postdoc                                 12
research scientist                      13
associate scientist ii                  13
sr scientist i                          16
research associate i                    19
manager                                 21
sr associate scientist                  28
sr manager                              31
sr director                             32
research associate ii                   40
research associate                      47
sr research associate                   49
director                                59
associate scientist                     63
scientist ii                            63
scientist i                             65
principal scientist                     71
associate director                      76
scientist                              143
sr scientist                           162

In [36]:
# Add new labels:
df["seniority"] = "normal"
df.loc[df["role"].str.contains("sr "), "seniority"] = "senior"


correspondence = {"director": "director",
                  "manager": "manager",
                  "bioinf": "bioinformatics",
                  "technician": "technician",
                  "research": "scientist",   # <<<<
                  "postdoc": "scientist",
                  "phd": "scientist",
                  "scientist": "scientist",
                  "engineer": "engineer",
                  "data": "data",
}

# Initialize column with undefined role category:
df["role_class"] = "other"

# Replace based on the strings found:
for role, role_class in correspondence.items():
    df.loc[df["role"].str.contains(role), "role_class"] = role_class

df

,Timestamp,country_1,city,company_field,company_name,company_type,company_size,role,degrees_2,List other relevant and recognized certifications,...,edu_M.D./PharmD/D.D.S.,edu_MD,edu_MSc,edu_PhD,edu_PharmD,edu_highest,country,region,seniority,role_class
0,8/6/2023 13:35:24,canada,Toronto,Academia/Research/Institution,Prefer not to say,Private,200-1000,medical writer,Bachelors or Equivalent,NaN,...,0,0,0,0,0,BSc,canada,others,normal,other
1,4/19/2023 19:24:24,germany,Munich,Academia/Research/Institution,Max Planck Institute,Academia/College/Universities,5000+,postdoc,PhD or Equivalent,NaN,...,0,0,0,1,0,PhD,germany,europe,normal,scientist
2,6/22/2023 16:28:50,slovenia,Ljubljana,Academia/Research/Institution,Prefer not to say,Public,50-200,student assistant researcher,Bachelors or Equivalent,NaN,...,0,0,0,0,0,BSc,slovenia,europe,normal,scientist
3,6/14/2023 15:30:45,uk,Edinburgh,Academia/Research/Institution,University of Edinburgh,Academia/College/Universities,5000+,postdoc,PhD or Equivalent,NaN,...,0,0,0,1,0,PhD,uk,europe,normal,scientist
4,3/29/2023 2:06:32,us,Bay Area,Academia/Research/Institution,Prefer not to say,Start-up,1-50,research scientist,Masters or Equivalent,NaN,...,0,0,1,0,0,MSc,us,us,normal,scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,9/29/2024 21:11:18,NaN,NaN,Big Pharmaceuticals,Prefer not to say,Public,5000+,asset exec,NaN,NaN,...,0,1,0,0,0,Other,us,us,normal,other
2024,9/29/2024 22:12:46,NaN,NaN,Others,Mucommune,Start-up,1-50,scientist,NaN,NaN,...,0,0,0,0,0,BSc,us,us,normal,scientist
2025,9/30/2024 5:33:54,NaN,NaN,Agriculture,Syngenta,Private,5000+,principal scientist i,NaN,NaN,...,0,0,0,1,0,PhD,uk,europe,normal,scientist
2026,9/30/2024 8:01:19,NaN,NaN,Big Pharmaceuticals,Regeneron,Public,5000+,associate scientist,NaN,NaN,...,0,0,0,0,0,BSc,us,us,normal,scientist
2027,9/30/2024 10:12:42,NaN,NaN,Academia/Research/Institution,Harvard Medical School,Academia/College/Universities,5000+,computational biologist,NaN,NaN,...,0,0,0,1,0,PhD,us,us,normal,other

### Save data

In [37]:
df_raw.to_excel("data/data_raw.xlsx")
df.to_excel("data/data_preprocessed.xlsx")